.typeahead,
.tt-query,
.tt-hint {
    width: 500px;
    height: 30px;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.empty-message {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.typeahead {
    background-color: #0000;
    color: #fff;
    padding-left: 15px;
    /* background-size: 25px; */
    background-position: 15px center;
    border-radius: 3px;
    width: 100%;
    height: 42px;
    background-image: url(../images/icon-topo-pesquisa.png);
    background-repeat: no-repeat;
    text-indent: 31px;
}

.twitter-typeahead{
    width: 100%;
}

.typeahead::placeholder {
    color: #fff;
    font-size: 16px;
}

.typeahead:focus {
    border: 2px solid #657c90;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 12px 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #C81450;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #C81450;
}

.tt-suggestion p {
    margin: 0;
}

.pesquisa-modal {
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 50%;
}

.backdrop-pesquisar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.87);
}

.pesquisar {
    position: absolute;
    margin-left: -250px;
}

.fecha-backdrop {
    position: absolute;
    color: #fff;
    font-size: 26px;
    z-index: 1;
    height: 20px;
    top: 50px;
    right: 0px;
    cursor: pointer;
    margin-right: 15%;
}